body {
  margin: 0;
  font-family: 'Georgia', serif;
  background-color: #1a1a1a;
  color: #f5f5f5;
  font-family: 'Playfair Display', serif;
  max-width: 1920px;
}


/* body::before {
  z-index: 1;
  content: "";
  position: fixed;
  width: 200%;
  height: 200%;
  background: transparent url("https://www.transparenttextures.com/patterns/stardust.png") repeat;
  animation: moveStars 100s linear infinite;
} */


/* @keyframes moveStars {
  from { transform: translateY(0); }
  to { transform: translateY(-1000px); }
} */
/* diagmonds.png */




/* ===== Header ===== */
.site-header {
  position: fixed;       
  top: 0;
  left: 0;
  right: 0; 
  
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px 10%;

  background: rgba(255, 255, 255, 0); 
  backdrop-filter: blur(12px);          
  -webkit-backdrop-filter: blur(12px); 

  z-index: 1000;
  transition: background 0.3s ease, backdrop-filter 0.3s ease;
}

/* Лого Лого Лого Лого Лого Лого Лого Лого Лого*/
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #c9974d; 
  letter-spacing: 1px;
}

/* Контейнер меню */
.nav-menu {
  margin-left: auto; 
}

/* Список */
.header-menu {   
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

/* Посилання */
.header-menu a {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.header-menu a:hover {
  color: #c9974d;
}
/* about about about about about about about about about*/ 

.about-section {
  min-height: 100vh;
  display: flex;
  align-items: flex-end; 
  justify-content: center;
  padding: 10% 0; 
  padding-top: 0px;
  padding-bottom: 0px;
  
  background-color: #111;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.about-image img {

  display: block;
  width: 100%;
  border-radius: 20px;
  /* box-shadow: 0 10px 25px rgba(0,0,0,0.6); */
  transition: transform 0.5s ease;
  z-index: 200;
}

/* .about-image img:hover {
  transform: scale(1.05);
} */

.about-content {
  margin-left: 50px;
  opacity: 1;
  transform: translateY(40px);
  transition: all 0.8s ease-in-out;
}

.about-content.visible {
  opacity: 1;
  transform: translateY(0);
}

.about-title {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.about-highlight {
  color: #c9974d;
}

.about-text {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #ccc;
  margin-bottom: 30px;
}



.btn-learn {
  display: inline-block;
  padding: 12px 28px;
  border: 2px solid #c9974d;
  border-radius: 30px;
  color: #c9974d;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s;
}

.btn-learn:hover {
  background: #c9974d;
  color: #111;
}


/* about about about about about about about about about*/ 

/* ===== Portfolio Section ===== */
.portfolio-section {
  padding: 20px 10%;
  background-color: #1a1a1a;
  text-align: center;
}

.portfolio-title {
  font-size: 2.5rem;
  margin-bottom: 60px;
  color: #fff;
}

.portfolio-title span {
  color: #c9974d;
}


.carousel-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

/* Кожна картка */
.portfolio-item {
  position: relative;
  flex: 0 0 calc(100% / 3); 
  
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  transition: transform 0.4s ease;
}

.portfolio-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease;
   
}

.portfolio-item:hover img {
  transform: scale(1.1);
}


.carousel-container{
  --gap: 20px;                  
  position: relative;
  border-radius: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 var(--gap);        
}

.carousel-track{
  display: flex;
  gap: var(--gap);             
  transition: transform .5s ease-in-out;
}

/* Оверлей */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.7);
  color: #fff;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s ease;
}

.portfolio-item:hover .overlay {
  opacity: 1;
  overflow: visible;
}

.overlay h3 {
  font-size: 1.5rem;
  color: #c9974d;
  margin-bottom: 10px;
}


/* Кнопки каруселі*/
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.6);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: 12px 18px;
  border-radius: 50%;
  z-index: 10;
  transition: background 0.3s ease;
}

.carousel-btn:hover {
  background: rgba(0,0,0,0.9);
}

.carousel-btn.left {
  left: -60px;   
}

.carousel-btn.right {
  right: -60px;  
}






/* ===== Footer ===== */
.site-footer {
  background-color: #111;
  color: #f5f5f5;
  padding: 60px 120px;
}

.footer-container {
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-bottom: 30px;
}

.footer-info h3,
.footer-socials h3 {
  color: #c9974d;
  margin-left: 30px;
  margin-bottom: 15px;
  font-size: 1.3rem;
}

.footer-info p,
.footer-info a {
  margin-left: 30px;
  font-size: 1rem;
  color: #ccc;
  text-decoration: none;
}

.footer-info a:hover {
  color: #c9974d;
}

.footer-socials .social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}



.footer-socials a {
  margin-left: 30px;  
  color: #ccc;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s;
}

.footer-socials a:hover {
  color: #c9974d;
}

.footer-bottom {
  border-top: 1px solid #333;
  text-align: center;
  padding-top: 20px;
  font-size: 0.9rem;
  color: #aaa;
}
